<div class="section no-pad-bot">
    <div class="container">
        <div class="section">
            <div class="row center">
                <div class="col s12 m12">
                    <h2 class="header indigo-text lighten-1 section-title">
                        <span>
                            <i class="material-icons">info_outline</i>
                            Conheça nossa história
                        </span>
                    </h2>

                    <p class="flow-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut magna nec quam euismod eleifend vel egestas ex. Ut elementum lectus sed lectus mollis maximus. In varius nisi eu commodo pretium. Sed pharetra eros auctor velit gravida, pulvinar pellentesque augue finibus. Ut faucibus tellus quam, quis pulvinar lacus dignissim sit amet. Mauris sit amet pretium ipsum. Phasellus interdum, turpis sit amet euismod fringilla, arcu ex porta massa, a aliquam mi leo sit amet nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin eu diam eu urna eleifend convallis. Nulla nec dui at velit lacinia aliquam a a nisi. Nunc rutrum nulla nec vulputate ultricies.
                    </p>

                    <p class="flow-text">
                        Ut et ex a risus placerat efficitur et id ipsum. Curabitur pretium ante sed augue varius bibendum. Integer ac leo lacinia, rutrum orci in, tempus diam. Mauris non feugiat elit, ac fringilla tellus. Quisque ipsum dolor, malesuada non justo eget, tempus varius massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pulvinar, enim eget varius volutpat, diam nulla volutpat nibh, id maximus tellus libero ut tortor. Nam dictum aliquam turpis id sodales.
                    </p>

                    <p class="flow-text">
                        Sed ante risus, aliquet in laoreet et, venenatis in elit. Suspendisse elementum pharetra diam non faucibus. Morbi sit amet lobortis eros. Nunc libero mi, tempus id posuere tristique, hendrerit id massa. Ut urna velit, aliquet in vulputate eget, laoreet vel velit. Phasellus nec lectus ac ex aliquam commodo. Mauris in lacus vel quam tempor aliquam sit amet et elit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
