<div class="section no-pad-bot">
    <div class="container">
        <div class="section">
            <div class="row center">
                <div class="col s12 m12">
                    <h2 class="header indigo-text lighten-1 section-title">
                        <span>
                            <i class="material-icons">email</i>
                            Mantenha contato!
                        </span>
                    </h2>

                    <p class="flow-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur risus ante, sit amet dapibus lacus condimentum id. Suspendisse potenti. Vivamus nec libero rhoncus, consequat orci vitae, consectetur sapien. Pellentesque ultrices sem et.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare ultricies tortor, interdum semper leo euismod eget. Donec at semper eros.</p>

                    <p>
                        <span>
                            <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                                <path fill="#000000" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                            </svg>
                            @loremipsum
                        </span>

                        <br />

                        <span>
                            <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                                <path fill="#000000" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
                            </svg>
                            Lorem Ipsum
                        </span>

                        <br />

                        <i class="material-icons">email</i> lorem@ipsum.com.br<br />

                        <i class="material-icons">phone</i> 99 99999-9999<br />
                    </p>
                </div>
                <div class="col s12 m8 indigo-text">
                    <form id="contactForm" novalidate="novalidate">
                        <div class="input-field">
                            <input type="text" name="contact[name]" required="" data-schema-key="name" maxlength="50" />
                            <label for="name">
                                Nome
                            </label>
                        </div>

                        <div class="input-field">
                            <input type="email" name="contact[email]" required="" data-schema-key="email" />
                            <label for="email">
                                E-mail
                            </label>
                        </div>

                        <!--<div class="input-field">-->
                            <!--<input type="text" name="contact[subject]" required="" data-schema-key="subject" />-->
                            <!--<label for="subject">-->
                                <!--Assunto-->
                            <!--</label>-->
                        <!--</div>-->

                        <!--<div class="input-field">-->
                            <!--<textarea name="contact[message]" rows="5" required="" data-schema-key="message" maxlength="1000" class="materialize-textarea"></textarea>-->
                            <!--<label for="message">-->
                                <!--Mensagem-->
                            <!--</label>-->
                        <!--</div>-->

                        <div class="row">
                            <div class="col s12">
                                <button class="waves-effect waves-light blue accent-2 btn">
                                    Enviar <i class="material-icons">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
