<div class="section no-pad-bot">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center">
                            <img src="/images/p1.png" alt="Laptop" class="responsive-img" />
                        </h2>
                        <h5 class="center">Laptop Red - R$ 1.399,99</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In magna nibh, rhoncus at tincidunt ac, pulvinar et nulla. Cras sodales massa a elit scelerisque, vitae sollicitudin nunc ultrices. Cras consectetur accumsan ante.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center">
                            <img src="/images/p2.png" alt="Oculus Rift" class="responsive-img" />
                        </h2>
                        <h5 class="center">Oculus Rift - R$ 6.999,99</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis a felis sed suscipit. Sed sodales nisl iaculis, feugiat nisi in, sollicitudin tortor. Mauris interdum ex at neque efficitur sagittis. Nam dignissim sodales bibendum. Suspendisse potenti. Ut id ligula finibus, tristique neque.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center">
                            <img src="/images/p3.png" alt="Celular" class="responsive-img" />
                        </h2>
                        <h5 class="center">Celular - R$ 999,99</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique elementum sapien sit amet bibendum. Sed est erat, ornare at ante in, dignissim porttitor libero. Nullam egestas finibus enim quis vestibulum. Duis erat leo, elementum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
